<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="common/layout">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/css/default.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/footer.css">
</head>
<body>
<th:block th:fragment="footerFragment">
    <div class="footer">
    </div>
</th:block>
</body>
</html>