<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="common/layout">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/src/main/resources/static/css/common/default.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/common/header.css">
</head>
<body>
<th:block th:fragment="headerFragment">
    <div class="header">
        <div class="header_item" id="logo">
            <a href="/">
                <img th:src="@{/img/logo.png}">
            </a>
        </div>
        <div class="header_item" id="nav">
            <ul class="menu">
                <li class="menu_item">
                    <a href="/company">회사소개</a>
                </li>
                <li class="menu_item">
                    <a href="">사업분야</a>
                </li>
                <li class="menu_item">
                    <a href="/data">뉴스룸</a>
                </li>
                <li class="menu_item">
                    <a href="/contact">고객지원</a>
                </li>
            </ul>
        </div>
        <div class="header_item" id="mob_cate_button">
            <img th:src="@{/img/menu.png}">
        </div>
    </div>
</th:block>
</body>
</html>