<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="common/layout">
<head>
  <meta charset="UTF-8">
  <title>베스트안전 - 자료실</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/src/main/resources/static/css/default.css">
  <link rel="stylesheet" href="/src/main/resources/static/css/data.css">
  <link rel="stylesheet" th:href="@{/css/default.css}">
  <link rel="stylesheet" th:href="@{/css/data.css}">
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
<th:block layout:fragment="content">
  <div class="main">
    <div class="board_header" id="data">
      <div class="board_header_text">
        <div class="board_header_title" th:value="${boardTitle}">
          자료실
        </div>
        <div class="board_header_address">
          <span>홈</span> > <span>자료실</span>
        </div>
      </div>
    </div>
    <div class="board_main">
      <div class="board_list">
        <ul class="board_titlebar">
          <li class="id">번호</li>
          <li class="title">제목</li>
          <li class="create_date">등록일</li>
          <li class="view_count">조회</li>
        </ul>
        <div class="board_contents">
          <th:block th:unless="${contents.isEmpty()}">
            <ul class="board_content">
              <th:block th:each="content:${contents}">
                <li class="id" th:text="${content.id}">1</li>
                <li class="title" th:text="${content.title}">제목입니다</li>
                <li class="create_date" th:text="${content.createDate}">2000-01-01</li>
                <li class="view_count" th:text="${content.viewCount}">5</li>
              </th:block>
            </ul>
          </th:block>
        </div>
      </div>
    </div>
    
  </div>
</th:block>
</body>
</html>