<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="common/layout">
<head>
  <meta charset="UTF-8">
  <title>베스트안전 - 자료실</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/src/main/resources/static/css/default.css">
  <link rel="stylesheet" href="/src/main/resources/static/css/data.css">
  <link rel="stylesheet" th:href="@{/css/default.css}">
  <link rel="stylesheet" th:href="@{/css/data.css}">
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
<th:block layout:fragment="content">
  <div class="main">
    <div class="board_header" id="data">
      <div class="board_header_text">
        <div class="board_header_title" th:value="${boardTitle}">
          자료실
        </div>
        <div class="board_header_address">
          <span>홈</span> > <span>자료실</span>
        </div>
      </div>
    </div>
    <div class="board_main">
      <div class="board_list">
        <div class="search">
          <form method="get">
            <select name="select" class="search_select">
              <option value="제목">제목</option>
              <option value="내용">내용</option>
            </select>
            <input type="text" name="search" class="search_input">
            <input type="submit" class="search_button" value="검색">
          </form>
        </div>

        <ul class="board_titlebar">
          <li class="id">번호</li>
          <li class="title">제목</li>
          <li class="create_date">등록일</li>
          <li class="view_count">조회</li>
        </ul>
        <div class="board_contents">
          <th:block th:unless="${contents.isEmpty()}">
            <th:block th:each="content:${contents}">
              <ul class="board_content">
                <li class="id" th:text="${content.id}">1</li>
                <a th:href="${'data/' + content.id}"><li class="title" th:text="${content.title}">제목입니다</li></a>
                <li class="create_date" th:text="${content.createDate}">2000-01-01</li>
                <li class="view_count" th:text="${content.viewCount}">5</li>
              </ul>
            </th:block>

            <ul class="pagination">
              <input type="hidden" value="">
              <li class="page-item" th:if="${contents.hasPrevious} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=1|}">
                  <span>&lt;&lt;</span>
                </a>
              </li>
              <li class="page-item" th:if="${contents.hasPrevious} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${contents.number}|}">
                  <span>&lt;</span>
                </a>
              </li>
              <li class="page_count" th:id="${'count' + (page+1)}" th:each="page: ${#numbers.sequence(0, contents.totalPages -1)}"
                  th:if="${page >= contents.number - 5 and page <= contents.number+5}">
                <a th:text="${page + 1}" th:id="${'page' + (page+1)}" th:href="'?page=' + ${page+1}"></a>
              </li>
              <li class="page-item" th:if="${contents.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${contents.number+2}|}">
                  <span>&gt;</span>
                </a>
              </li>
              <li class="page-item" th:if="${contents.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${contents.totalPages}|}">
                  <span>&gt;&gt;</span>
                </a>
              </li>
            </ul>
          </th:block>
        </div>
      </div>
    </div>
  </div>
</th:block>
</body>
</html>

<script>
  window.onload = function() {
    changePageCount();
  }

  function changePageCount() {
    document.getElementById("count" + [[${count}]]).style.background = "gray";
    document.getElementById("page" + [[${count}]]).style.color = "white";
  }
</script>