.board_header {
    height: 150px;
    background-color: violet;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 20px;
}

.board_header_text {
    color: white;
    text-align: center;
}

.board_header_title {
    font-size: 3em;
    font-weight: 700;
}

.board_main {
    background-color: white;

    margin: 0 auto;
    margin-top: -1em;
    width: 80%;
}

.board_list {
    width: 70%;
    margin: 0 auto;
    padding: 5em 0;
}

.board_titlebar {
    border-top: 2px solid gray;
    border-bottom: 1px solid gray;
    background-color: rgb(240, 240, 240);
    
    width: 100%;
    font-weight: bold;;
}

.board_titlebar li, .board_content li {
    display: inline-block;
    text-align: center;
    padding: 1em 0;
}

.board_content .title {
    text-align: left;
}

.board_content {
    border-bottom: 1px solid rgb(224, 224, 224);
}

.id {
    width: 10%;
}

.title {
    width: 55%;
}

.create_date {
    width: 20%;
}

.view_count {
    width: 10%;
}

.page-item, .page_count {
    width: auto;
    display: inline-block;
    padding: 0.1em 0.3em;
    margin: 0.5em;

    border: 0.5px solid gray;
}

.pagination {
    text-align: center;
    padding: 1em 0;
    border-top: 1px solid gray;
}