@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    margin: 0;
    padding: 0;
    width: 100%;
}

html {
    font-family: 'Noto Sans KR', sans-serif;
    color:#3a3a4a;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #3a3a4a;
}

.header {
    width: 100%;
    height: 100px;
    
    margin-top: 2rem;

    text-align: center;
}

.header_item {
    width: auto;
    display: inline-block;
    vertical-align: middle;
}

#logo {
    margin-left: 5rem;

    width: auto;
    height: 100%;
}

#logo img {
    width: auto;
    height: 100%;
}

#nav {
    width: auto;
    min-width: 800px;

    margin: 0 5rem;
}

.menu_item {
    width: 120px;
    display: inline-block;

    font-size: 1.5rem;
    font-weight: 600;
    padding: 0 3rem;    
}

.menu_item a {
    padding: 0.5rem 0;
    display: inline-block;
    width: 90%;

    border-width: 0 0 4px;
    border-style: solid;
    border-color: rgba(42, 94, 184, 0);
}

.menu_item a:hover {
    color: rgb(42, 94, 184);
    border-color: rgba(42, 94, 184, 255);
}