.main {
    width: auto;
}

.banners {
    width: auto;
    height: 550px;

    background-color:lightskyblue;

    background-image: url("/img/train-8517089_1920.jpg");
    background-size: cover;
}

.boards {
    width: 70%;
    height: auto;
    padding: 5rem 1rem;
    padding-bottom: 1em;
    margin: 0 auto;

    display: flex;
    justify-content: space-evenly;
}

.field {
    width:100%;
    display: flex;
    justify-content: space-evenly;
}

.field_shortcut {
    box-sizing: border-box;

    width: 15%;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: #efefef;

}

.board {
    width: -webkit-fill-available;
    max-width: min(40%, 480px);
    padding: 1rem;
    margin: 0 1rem;

    flex: 1;
}

#notice {
    background-color: #185b9f;
    color: white;
    text-align: left;

    border-radius: 50px 10px 10px 10px;
}

.notice_title {
    font-size: 2.2em;
    font-weight: 900;
    text-align: center;

    padding: 0.5em 0;
}

.performance_title {
    font-size: 2.2em;
    font-weight: 900;
    text-align: center;

    padding: 0.5em 0;

    color: #4d4d4d;
}

.notice_contents {
    margin-top: 2em;
}

.notice_content {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    margin: 1em 0;
}

#performance {
    border: 2px solid #bdbdbd;
    border-radius: 10px 10px 50px 10px;
}

.shortcut {
    background-color: gray;
    border-radius: 10px;

    text-align: center;
}

.mini_banners {
    background-color: red;
    width: auto;
    height: 40px;
}



.gallery {
    width: 100%;
    height: 400px;

    box-sizing: border-box;

    position: relative;
}

.slides {
    width: 100%;
    height: 90%;
    background-color: gray;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
}

.prev, .next{
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -2em;
    padding: 1em;
    color: black;
    font-size: 20px;
    transition: 0.5s ease;
    cursor: pointer;
    opacity: 50%;
    z-index: 1;
}

.prev:hover, .next:hover {
    color: white;
    opacity: 100%;
}

.prev:after, .next:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: #656565;

    opacity: 0%;
    transition: 0.5s ease;
    color: white;
    z-index: -1;
}

.prev:after {
    border-radius: 0 1em 1em 0;
}
.next:after {
    border-radius: 1em 0 0 1em;
}

.prev:hover:after, .next:hover:after {
    opacity: 50%;
}

.next {
    right: 0;
}

.dots {
    display: block;
    text-align: center;
    margin: 1em 0;
    margin-bottom: 1em;
}

.dot {
    height: 1em;
    width: 1em;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #3a3a4a;
}


/* tablet landscape */
@media all and (max-width: 1024px) {
}

/* tablet */
@media all and (max-width: 768px) {
    .boards {
        display: block;
        text-align: -webkit-center;
    }

    .board {
        max-width: 80%;
        width: -webkit-fill-available;
        margin: 0 0;
    }

    #notice {
        margin-bottom: 1rem;
    }
}

/* mobile */
@media all and (max-width: 480px) {
    #shortcuts {
        grid-template-columns: 1fr;
    }
}