.main_container {
    /*width: 100%;*/
}

.banner {
    /*width: 100%;*/
    height: 550px;
    background-color:lightskyblue;
    background-image: url();
    background-size: cover;
}

.board {
    /*width: 100%;*/
    text-align: center;
    margin: 5rem 0;
}

.notice {
    width: 500px;
    height: 500px;
    background-color: lightpink;
    display: inline-block;
    margin: 1rem 3rem;
}

.shortcuts {
    width: 480px;
    height: 480px;
    background-color:aquamarine;
    display: inline-block;
    margin: 1rem 3rem;
    vertical-align: top;
    padding: 10px;
}

.shortcut {
    width: 220px;
    height: 220px;
    background-color: gray;
    display: inline-block;
    margin: 9px;
    border-radius: 10px;
}

/* pc small */
@media all and (max-width: 1200px) {
    .board {
        display: flex;
        justify-content: space-between;
    }

    .shortcut {
        width:45%;
    }
}


/* tablet landscape */
@media all and (max-width: 1024px) {
    .board {
        display: inline-block;
    }
    .banner {
        height: 400px;
    }

    .notice {
        width: 40%;
        height: auto;
        margin: 1rem 1rem;
    }

    .shortcuts {
        width: 40%;
        height: auto;
        margin: 1rem 1rem;
        padding: 0;
    }

    .shortcut {
        width: 40%;
        height: auto;
        margin: 9px 0;
    }
}

/* tablet */
@media all and (max-width: 768px) {
    .notice {
        width: 90%;
        margin: 1rem 0;
    }

    .shortcuts {
        width: 90%;
        margin: 1rem 0;
    }
}

/* mobile */
@media all and (max-width: 480px) {
    .shortcut {
        width: 80%;
    }
}