.main {
    width: auto;
}

.banners {
    width: auto;
    height: 550px;

    background-color:lightskyblue;
    background-image: url();
    background-size: cover;
}

.boards {
    width: auto;
    height: auto;
    padding: 5rem 1rem;

    background-color: #e3e3e3;

    display: flex;
    justify-content: space-evenly;
}

.board {
    width: -webkit-fill-available;
    max-width: min(40%, 480px);
    padding: 1rem;
    margin: 0 1rem;
    border-radius: 5px;

    flex: 1;
}

#notice {
    background-color: white;
    text-align: left;
}

.notice_title {
    font-size: 2em;
    font-weight: 700;
}

.notice_contents {
    margin-top: 2em;
}

.notice_content {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    margin: 1em 0;
}

#shortcuts {
    background-color:aquamarine;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.shortcut {
    background-color: gray;
    border-radius: 10px;

    text-align: center;
}

.mini_banners {
    background-color: red;
    width: auto;
    height: 40px;
}


/* tablet landscape */
@media all and (max-width: 1024px) {
}

/* tablet */
@media all and (max-width: 768px) {
    .boards {
        display: block;
        text-align: -webkit-center;
    }

    .board {
        max-width: 80%;
        width: -webkit-fill-available;
        margin: 0 0;
    }

    #notice {
        margin-bottom: 1rem;
    }
}

/* mobile */
@media all and (max-width: 480px) {
    #shortcuts {
        grid-template-columns: 1fr;
    }
}