@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'SUIT-Regular', sans-serif;
    color:#3a3a4a;
    font-size: unset;
    line-height: unset;
    background-color: white;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #3a3a4a;
}

.board_header {
    height: 150px;
    background-color: violet;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 20px;
}

.board_margin {
    background-color: white;
    margin: 0 auto;
    width: 80%;
}

.board_area {
    width: 70%;
    margin: 0 auto;
    padding: 5em 0;
}

.board_area > div {
    margin: 1rem 0;
}

.board_header_text {
    color: white;
    text-align: center;
}

.board_header_title {
    font-size: 3em;
    font-weight: 700;
}

.board_title {
    font-size: 3em;
    font-weight: 900;
    border-bottom: 1px solid #afafaf;
}

.board_date {
    text-align: right;
    color: #7a7a7a;
}

.board_content {
    border-bottom: 1px solid #afafaf;
    padding-bottom: 1em;
}

.button_white {
    display: inline-block;
    padding: 0.8em 2.2em;
    border: 1px solid #4d4d4d;
}