.board_header_text {
    color: white;
    text-align: center;
}

.board_header_title {
    font-size: 3em;
    font-weight: 700;
}

.board_margin {

}

.board_titlebar {
    border-top: 2px solid gray;
    border-bottom: 1px solid gray;
    background-color: rgb(240, 240, 240);
    
    width: 100%;
    font-weight: bold;;
}

.board_titlebar li, .board_content li {
    display: inline-block;
    text-align: center;
    padding: 1em 0;
}

.board_content .title {
    text-align: left;
}

.board_content {
    border-bottom: 1px solid rgb(224, 224, 224);
}

.id {
    width: 10%;
}

.title {
    width: 55%;
}

.create_date {
    width: 20%;
}

.view_count {
    width: 10%;
}

.page-item, .page_count {
    width: auto;
    display: inline-block;
    padding: 0.1em 0.3em;
    margin: 0.5em;

    border: 0.5px solid gray;
}

.pagination {
    text-align: center;
    padding: 1em 0;
    border-top: 1px solid gray;
}

.search {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
}

.search_select {
    width: 6em;
    height: 2.6em;
    padding: 0.3em;
    margin-right: 0.5em;
    border-radius: 0;
}

.search_input {
    height: 2.5em;
    width: 20em;

    border: 1px solid gray;
    padding: 0 0.6em;
    margin-right: 0.5em;
}

.search_button {
    height: 2.7em;
    line-height: 2.6em;
    vertical-align: middle;

    border: none;
    background-color: gray;
    padding: 0 1.5em;
    color: white;
}