.main {
    width: auto;
}

.banners {
    width: auto;
    height: 600px;

    background-color:lightskyblue;

    background-image: url("/img/train-8517089_1920.jpg");
    background-size: cover;
}

.boards {
    width: 1200px;
    height: auto;
    padding: 5rem 0rem;
    padding-bottom: 1em;
    margin: 0 auto;

    box-sizing: border-box;
}

.field {
    width:100%;
}

.field_shortcut {
    box-sizing: border-box;
    display: inline-flex;
    width: 15%;
    height: 100px;
    background-color: #efefef;

    text-align: center;
    justify-content: space-around;
    align-items: center;
    vertical-align: top;
}

.board {
    display: inline-block;
    width: auto;
    height: 570px;
    padding: 1rem;
    box-sizing: border-box;
    vertical-align: top;
}

#notice {
    background-color: #185b9f;
    color: white;
    text-align: left;
    padding-left: 3em; padding-right: 3em;

    border-radius: 50px 10px 10px 10px;
}

.notice_title {
    font-size: 2.2em;
    font-weight: 900;
    text-align: center;

    padding: 0.5em 0;
}

.performance_title {
    font-size: 2.2em;
    font-weight: 900;
    text-align: center;

    padding: 0.5em 0;

    color: #4d4d4d;
}

.notice_contents {
    margin-top: 2em;
}

.notice_content {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    margin: 2em 0;
    padding-bottom: .5rem;
    border-bottom: 1px solid white;
}

#performance {
    border: 2px solid #bdbdbd;
    border-radius: 10px 10px 50px 10px;
}

.shortcut {
    background-color: gray;
    border-radius: 10px;

    text-align: center;
}

#rolling {
    width: 1250px;
    height: 9em;
    display: block;
    text-align: center;
}

#rolling a {
    display: inline-block;
    font-size: 2em;

    vertical-align: top;
    cursor: pointer;
}

.wrap {
    display: inline-block;
    width: 95%;
    height: 100%;
    overflow-x: scroll;
}

.mini_banners {
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    flex: 0 0 auto;

    animation: rolling 100s linear infinite;
}

.wrap::-webkit-scrollbar{
    display: none;
}

.mini_banner {
    display: inline-block;
    width: 10em;
    height: 4em;
    background-color: #ccc;
    margin-right: 1em;
}

@keyframes rolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-10em * 10 + (-1em) * 12));
    }
}

.gallery {
    width: 100%;
    height: 400px;

    box-sizing: border-box;

    position: relative;
}

.slides {
    width: 100%;
    height: 90%;
    background-color: gray;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
}

.prev, .next{
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -2em;
    padding: 1em;
    color: black;
    font-size: 20px;
    transition: 0.5s ease;
    cursor: pointer;
    opacity: 50%;
    z-index: 1;
}

.prev:hover, .next:hover {
    color: white;
    opacity: 100%;
}

.prev:after, .next:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: #656565;

    opacity: 0%;
    transition: 0.5s ease;
    color: white;
    z-index: -1;
}

.prev:after {
    border-radius: 0 1em 1em 0;
}
.next:after {
    border-radius: 1em 0 0 1em;
}

.prev:hover:after, .next:hover:after {
    opacity: 50%;
}

.next {
    right: 0;
}

.dots {
    display: block;
    text-align: center;
    margin: 1em 0;
    margin-bottom: 1em;
}

.dot {
    height: 1em;
    width: 1em;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #3a3a4a;
}




/* tablet landscape */
@media all and (max-width: 1024px) {
}

/* tablet */
@media all and (max-width: 768px) {
    .boards {
        display: block;
        text-align: -webkit-center;
    }

    .board {
        max-width: 80%;
        width: -webkit-fill-available;
        margin: 0 0;
    }

    #notice {
        margin-bottom: 1rem;
    }
}

/* mobile */
@media all and (max-width: 480px) {
    #shortcuts {
        grid-template-columns: 1fr;
    }
}