<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="common/layout">
<head>
    <meta charset="UTF-8">
    <title>베스트안전</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/css/default.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/home.css">
</head>
<body>
<th:block layout:fragment="content">
    <div class="banner">
        
    </div>
    <div class="board">
        <div class="notice"></div>
        <div class="shortcuts">
            <ul>
                <li class="shortcut"></li>
                <li class="shortcut"></li>
                <li class="shortcut"></li>
                <li class="shortcut"></li>
            </ul>
        </div>
    </div>
</th:block>
</body>
</html>