<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="common/layout">
<head>
    <meta charset="UTF-8">
    <title>베스트안전</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/css/default.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/home.css">
    <script src="/src/main/resources/static/js/home.js"></script>

    <link rel="stylesheet" th:href="@{/css/default.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <script th:src="@{/js/home.js}"></script>
</head>
<body>
<th:block layout:fragment="content">
    <div class="main">
        <div class="banners">
        </div>
        <div class="boards">
            <div class="field">
                <div class="field_shortcut">베스트<br/>안전</div>
                <div class="field_shortcut">베스트<br/>전기통신<br/>소방안전</div>
                <div class="field_shortcut">베스트<br/>건설안전</div>
                <div class="field_shortcut">베스트<br/>안전진단</div>
                <div class="field_shortcut">세이프21</div>
            </div>
        </div>
        <div class="boards">
            <div class="board" id="notice">
                <div class="notice_title">공지사항</div>
                <ul class="notice_contents">
                    <li class="notice_content">1dfasfsfffsdsaaaaaaaaaafsadffsfsffaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</li>
                    <li class="notice_content">2</li>
                    <li class="notice_content">3</li>
                    <li class="notice_content">4</li>
                    <li class="notice_content">5</li>
                    <li class="notice_content">6</li>

                </ul>
            </div>
            <div class="board" id="performance">
                <div class="performance_title">주요실적</div>
                <div class="gallery">
                    <div class="slide" style="background: red"></div>
                    <div class="slide" style="background: yellow"></div>
                    <div class="slide" style="background: green"></div>
                    <div class="slide" style="background: blue"></div>
                    <div class="slide" style="background: purple"></div>
                    <a class="prev" onclick="moveSlide(-1)">&#10094;</a>
                    <a class="next" onclick="moveSlide(1)">&#10095;</a>
                </div>
                <div class="dots">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                    <span class="dot" onclick="currentSlide(4)"></span>
                    <span class="dot" onclick="currentSlide(5)"></span>
                </div>
            </div>
        </div>
        <div class="mini_banners">
            
        </div>
    </div>
</th:block>
</body>
</html>